body, html{
    background: black;
    color: white;
    text-align: center;
}

.visible {
visibility: visible;
}
.hidden {
    visibility: hidden;
}

#insert {
    font-size: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
}



